body
{
	background-color:#212121;
	color:#fff;
	font-family:Arial,Helvetica,sans-serif;
	height:auto;
	width:100%
}

.content
{
	left:50%;
	position:absolute;
	text-align:center;
	top:50%;
	transform:translate(-50%,-50%);
	width:40%
}

a:link
{
	text-decoration:none
}

a:visited
{
	text-decoration:none
}

a:hover
{
	text-decoration:none
}

a:active
{
	text-decoration:none
}

.btn
{
	background-color:#fff;
	border:none;
	border-radius:15px;
	display:block;
	font-size:16px;
	font-weight:800;
	margin:0;
	margin-bottom:10px;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	width:100%
}

.youtube
{
	background-color:#fff;
	border:none;
	border-top-left-radius:35px;
  border-top-left-radius:15px;
	border-top-right-radius:35px;
	border-top-right-radius:15px;
	display:block;
	font-size:16px;
	font-weight:800;
	margin:0;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	width:100%
}

button:hover
{
	background-color:red;
}

.btn a
{
	color:#000;
	text-decoration:none
}

.pfp
{
	height:100px;
	margin-top:30px;
	width:100px
}

.name
{
	font-family:'Quicksand';
	font-size:30px;
	margin-top:20px
}