/* Root Styles */
:root {
--bg-color:#181818;
--light-mode-bg-color: #fff;
--light-mode-text-color: #181818;
--light-mode-button-text-color: #ffffff;
--light-mode-button-bg: #181818;
--default-text-color:#fff;
--secondary-color:#ff0000;
}

body {
background-color:var(--bg-color);
color:var(--default-text-color);
font-family:Arial,Helvetica,sans-serif;
width:100%;
position:static!important;
top:0!important;
margin:0;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}
/* Root Styles End */

/* Light Mode Styles */
.light-mode {
background-color: var(--light-mode-bg-color);
color: var(--light-mode-text-color);
}
.light-mode .btn {
background-color: var(--light-mode-button-bg);
color: var(--light-mode-button-text-color);
}
.light-mode a {
color: var(--light-mode-text-color);
}
.light-mode .other {
background-color: var(--light-mode-button-bg);
color: var(--light-mode-button-text-color);
}
.light-mode .other-profiles {
color: var(--light-mode-button-text-color);
}
.light-mode .loader {
background:var(--light-mode-bg-color);
}
.light-mode .loader .ring {
background:var(--light-mode-text-color);
border-top-color:var(--light-mode-text-color);
}
/* Light Mode Styles End */

.loader {
position:fixed;
height:100vh;
width:100%;
display:flex;
align-items:center;
justify-content:center;
background:var(--bg-color);
transition:all .5s;
z-index:99;
cursor:progress;
overflow:hidden
}

.loader .ring {
height:40px;
width:40px;
background:var(--text-color);
border-radius:50%;
border:2px solid rgba(24,24,24,1);
border-top-color:var(--text-color);
animation:spinner2 600ms linear infinite
}

@keyframes spinner2 {
to {
transform:rotate(360deg)
}
}

.content {
left:50%;
position:absolute;
text-align:center;
transform:translate(-50%);
width:35%;
display:block
}

a:link {
text-decoration:none
}

a:visited {
text-decoration:none
}

a:hover {
text-decoration:none
}

a:active {
text-decoration:none
}

.btn {
background-color:#fff;
border:none;
border-radius:15px;
display:block;
font-size:16px;
font-weight:800;
margin:0;
margin-bottom:10px;
padding: 20px 0px 20px 0px;
text-decoration:none;
width:100%;
transition:all .2s ease-in-out;
color:var(--bg-color);
}
.btn p {
  text-align-last: right;
  display: inline-block;
}
.youtube {
background-color:#fff;
border:none;
border-top-left-radius:35px;
border-top-left-radius:15px;
border-top-right-radius:35px;
border-top-right-radius:15px;
display:block;
font-size:16px;
font-weight:800;
margin:0;
padding: 20px 0px 20px 0px;
text-align:center;
text-decoration:none;
width:100%
}

a {
text-decoration:none;
color:#fff
}

.btn:hover {
background-color:var(--secondary-color)
}
.pfp {
height:100px;
margin-top:30px;
width:100px;
margin-bottom:6px;
border-radius: 50%;
}

.name {
font-family:'Quicksand';
font-size:20px;
margin-bottom:6px;
margin-top:0
}

.fa-location-dot {
font-size:12px
}

b {
margin-right:9px
}

@media screen and (max-width: 700px) {
.content {
width:90%
}
}
@media screen and (max-width: 1000px) {
.content {
width:75%
}
}
.location {
margin-top:0
}

.other-profiles {
font-family:'Quicksand';
font-size:30px;
margin-bottom:6px;
color:var(--bg-color);
margin-top: 0;
padding-top: 7px;
}

.other {
background-color:var(--default-text-color);
border-radius:15px;
display: block;
margin-top: 0;
margin-bottom: 10px;
}

.other img {
margin-top:0;
border-radius:50%;
height:100px;
width:100px;
transition:all .3s ease-in-out;
margin-bottom:6px;
display: inline-block;
overflow: hidden;
}
.other img:hover {
filter: contrast(120%);
}
.quick-info {
margin-bottom: 27px;
    background: rgba(0,0,0,0.0);
}
.quick-info a {
    background: rgba(0,0,0,0.0);
}
.btn i {
float: left;
  text-align: left;
position: absolute;
}
.float-button {
	position:fixed;
	bottom:80px;
	right:40px;
	width:60px;
	height:60px;
	background-color: var(--secondary-color);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  border: none;
  outline: none;
}
.float-button-icon {
margin-top:3px;
	font-size:25px;
}