:root {
  --bg-color: #212121;
  --default-text-color: #ffffff;
  --secondary-color: #ff0000
}
body
{
	background-color: var(--bg-color);
	color: var(--default-text-color);
	font-family: Arial,Helvetica,sans-serif;
  width:100%;
  position: static !important; 
  top: 0px !important; 
  margin: 0;
}
.loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  transition: all 0.5s;
  z-index: 99;
  cursor: progress;
   overflow: hidden;
}
.loader .ring{
  height: 45px;
  width: 45px;
  border: 5px solid var(--default-text-color);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .ring:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
.content
{
	left:50%;
	position:absolute;
	text-align:center;
	transform:translate(-50%);
	width:40%;
    display: block;
}

a:link
{
	text-decoration:none
}

a:visited
{
	text-decoration:none
}

a:hover
{
	text-decoration:none
}

a:active
{
	text-decoration:none
}

.btn
{
	background-color:#fff;
	border:none;
	border-radius:15px;
	display:block;
	font-size:16px;
	font-weight:800;
	margin:0;
	margin-bottom:10px;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	width:100%
}

.youtube
{
	background-color:#fff;
	border:none;
	border-top-left-radius:35px;
  border-top-left-radius:15px;
	border-top-right-radius:35px;
	border-top-right-radius:15px;
	display:block;
	font-size:16px;
	font-weight:800;
	margin:0;
	padding:15px 32px;
	text-align:center;
	text-decoration:none;
	width:100%
}
a {
text-decoration: none;
color: #fff;
}
button:hover
{
	background-color: var(--secondary-color);
}

button a
{
	color:#000;
	text-decoration:none
}

.pfp
{
	height:100px;
	margin-top:30px;
	width:100px
}

.name
{
	font-family:'Quicksand';
	font-size:30px;
  margin-bottom: 6px;
}
.fa-location-dot
{
font-size: 12px;
}
@media screen and (max-width: 700px) {
  .content {
  width: 90%;
  }
}
.location {
margin-top: 0;
}